/* 전역설정 */ 
@charset "UTF-8";

html,body
{
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Happiness-Sans-Bold;
    font-weight : 400;
    
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.7;
    background-color: #ffffff25;
}

/* 제목폰트 */
h1,h2,h3,h4,h5,h6
{
    font-family: Happiness-Sans-Title;
}

/* 링크 */

a
{
    color: #2f2f2f;
    text-decoration: none;
}

a:hover
{
    color: #818181;
    text-decoration: none;
    cursor: pointer;
}

a:focus
{
    outline: none;
    color: #999999;
    text-decoration: none;
}


